.ct {
    color: gray;
    padding: 1px;
}
.img {
    border: 0;
    width: 100%;
}
.cb {
    padding: 10px 1px 1px 1px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
.ssc1 {
    border: 1px solid lightgray;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 330px;
    margin: 3px;
    padding: 1px;
    width: 250px;
}
.ssc1 .noImg {
    background: aliceblue;
    border: 1px solid lightblue;
    color: dodgerblue;
    height: 110px;
    padding-top: 150px;
    text-align: center;
    vertical-align: middle;
    width: 250px;
}
.ssc2 {
    border: 1px solid lightgray;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 250px;
    margin: 3px;
    padding: 1px;
    width: 185px;
}
.ssc2 .noImg {
    background: aliceblue;
    border: 1px solid lightblue;
    color: dodgerblue;
    height: 130px;
    padding-top: 50px;
    text-align: center;
    vertical-align: middle;
    width: 183px;
}