.DS_Store/
.idea/

.data/

.terraform*
terraform.*

# nodejs
**/node_modules/
package-lock.json
yarn.lock

# php
**/vendor/
composer.lock
config.php

# golang
**/gcp/sa.json
go.sum
**/vendor/
ed/l/go/**/bin/
ed/l/go/**/pkg/
# ed/l/go/**/src/
!ed/l/go/**/src/app/
ed/l/go/**/src/github.com
ed/l/go/**/src/golang.org
ed/l/go/**/src/gopkg.in
ed/l/go/**/src/gocv.io

# python
**/__pycache__/
**/.ipynb_checkpoints/
**/venv/
