.DS_Store/
.idea/
.data/

**/gcp/sa.json

.terraform*
terraform.tf*

# nodejs
ed/l/js/**/node_modules/
ed/l/nodejs/**/node_modules/
package-lock.json
yarn.lock

# php
ed/l/php/**/vendor/
composer.lock
config.php

# golang
# ed/l/go/**/src/
!ed/l/go/**/src/app/
ed/l/go/**/src/github.com
ed/l/go/**/src/golang.org
ed/l/go/**/src/gopkg.in
ed/l/go/**/src/gocv.io
ed/l/go/**/bin/
ed/l/go/**/pkg/
ed/l/go/**/vendor/
go.sum

# python
ed/l/python/**/__pycache__/
ed/l/python/**/.ipynb_checkpoints/
ed/l/python/**/venv/

# java
ed/l/java/**/target/

# c#
ed/l/cs/**/bin/
ed/l/cs/**/obj/
ed/l/cs/**/*.csproj
