.DS_Store/
.idea/

.data/

.terraform*
terraform.*

# nodejs
ed/l/nodejs/**/node_modules/
package-lock.json
yarn.lock

# php
ed/l/php/**/vendor/
composer.lock
config.php

# golang
**/gcp/sa.json
go.sum
ed/l/go/**/vendor/
ed/l/go/**/bin/
ed/l/go/**/pkg/
# ed/l/go/**/src/
!ed/l/go/**/src/app/
ed/l/go/**/src/github.com
ed/l/go/**/src/golang.org
ed/l/go/**/src/gopkg.in
ed/l/go/**/src/gocv.io

# python
ed/l/python/**/__pycache__/
ed/l/python/**/.ipynb_checkpoints/
ed/l/python/**/venv/

# java
ed/l/java/**/target/
