doctype html
html(lang="en")
    head
        title=title
        link(rel='stylesheet', type='text/css', href='/bootstrap-3.1.1-dist/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css')
        link(rel='stylesheet', type='text/css', href='/s/main.css')
    body
        header
        #doc
            #guest
                .head
                .content
            #account
                .head
                .content
        footer
            .panel-default.navbar-fixed-bottom
                .panel-footer
                    img#progress.hide(src='/i/load.gif')
        script(type='text/javascript', src='/js/lib/jquery-1.11.0.min.js')
        script(type='text/javascript', src='/js/lib/underscore-1.6.0.min.js')
        script(type='text/javascript', src='/js/lib/backbone-1.1.2.min.js')
        script(type='text/javascript', src='/js/lib/require-2.1.11.min.js')
        script(type='text/javascript', src='/bootstrap-3.1.1-dist/js/bootstrap.min.js')
        script(type='text/javascript', src='/js/app.js')