{% extends 'AppBundle::Base.html.twig' %}

{% block body %}
  <div class="step2 text-center formBody">
    <h2>Get an awesome prize!</h2>
    <a href='http://www.gifbin.com/985958' title='Funny Gifs'><img src='http://www.gifbin.com/bin/102011/1319739480_baby_escapes_crib.gif'></a>
  </div>
{% endblock %}
