<html>
<body>
  <div style="padding: 15px;">
    <a href="http://kiev.php.ug">
      <img src="http://kiev-php-ug.890m.com/bundles/app/images/kievphp.logo.png">
    </a>
  </div>
  <hr style="border: solid 1px #f0f0f0;">
  <div>
    This is test mail.
  </div>
  <hr style="border: solid 1px #f0f0f0;">
  <div style="padding: 15px; float: right;">
    <a href="http://kiev.php.ug">kiev.php.ug</a>
    | <a href="https://twitter.com/kievpug">twitter</a>
    | <a href="https://www.facebook.com/kievpug">facebook</a>
  </div>
</body>
</html>
