footer .panel-footer {
    height: 22px;
    padding: 0;
}
footer #progress {
    height: 20px;
    width: 160px;
    float: right;
}
.navbar #nls {
    min-width: 0;
}
#guest_registration > div {
    width: 390px;
    margin-left: auto;
    margin-right: auto;
}
#guest_login > div {
    width: 390px;
    margin-left: auto;
    margin-right: auto;
}