{% extends 'AppBundle::Base.html.twig' %}
{% block content %}
  <div class="page hide" data-id="#thanks">
    <div class="clearfix">
      <div class="col-xs-6 col-lg-4">
        <h4>Rina Kizune</h4>
        <p class="thanksBox">
          <a href="https://www.facebook.com/rina.kizune">
            <img class="img-rounded" alt="Rina Kizune" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p148x148/1898139_660955633946522_1277579020_n.jpg?oh=c2609a8d98c3dfee3ea365d88fb85689&oe=56AA9222&__gda__=1451227474_5ca48eb39cf2afc242d54281665a3691" height="130px">
          </a>
        </p>
      </div>
      <div class="col-xs-6 col-lg-4">
        <h4>Andreas Heigl</h4>
        <p class="thanksBox">
          <a href="https://twitter.com/heiglandreas">
            <img class="img-rounded" alt="Andreas Heigl" src="https://pbs.twimg.com/profile_images/585885235587461120/G6z1C_si.jpg" height="130px">
          </a>
        </p>
      </div>
    </div>
    <hr>
    <div class="clearfix">
      <div class="col-xs-6 col-lg-4">
        <h4>Astound Commerce</h4>
        <p class="thanksBox">
          <a href="http://www.astound.com.ua/">
            <img alt="Astound Commerce" src="http://astoundcommerce.com/wp-content/themes/flat-theme/svg/logo_Astound_longer_new.svg">
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
