body
    margin 50px
table
    width 90%
    border-collapse collapse
table, td, th, caption
    border 1px solid black
td
    padding 20px
caption
    font-size larger
    background-color yellow
    padding 10px
h1
    font 1.5em Georgia, serif
ul
    list-style-type none
form
    margin 20px
    padding 20px