{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% if message is defined %}
        <p id="message">{{ message}}</p>
    {% endif %}
{% endblock %}
