{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            Here some stuff.
            Your role is
            {% if is_granted('ROLE_USER') %} user {% endif %}
            {% if is_granted('ROLE_ADMIN') %} admin {% endif %}
            .
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
