doctype html
html(lang="en")
    head
        title New password
    body
        h3 New password
        |Your password has been successfully updated.
        |Please keep this email.
        br
        br
        |From now you can login to your account with next credentials:
        br
        |Email: #{email},
        br
        |Screen name: #{sname},
        br
        |Password: #{password},
        br
        br
        br
        |Enjoy!
        br
        |The Skipe Team