doctype html
html(lang="ru")
    head
        title Поздравляем
    body
        h3 Поздравляем
        |в создании совершенно нового адреса Skipe, #{email}.
        |Сохраните это сообщение.
        br
        br
        |Теперь вы можете войти в свой аккаунт со следующими полномочиями:
        br
        |эл.почта: #{email},
        br
        |псевдоним: #{sname},
        br
        |пароль: #{password},
        br
        br
        br
        |Приятных вам впечатлений!
        br
        |Команда Skipe