doctype html
html(lang="ru")
    head
        title Новый пароль
    body
        h3 Новый пароль
        |Ваш пароль был успешно обновлен.
        |Сохраните это сообщение.
        br
        br
        |Теперь вы можете войти в свой аккаунт со следующими полномочиями:
        br
        |эл.почта: #{email},
        br
        |псевдоним: #{sname},
        br
        |пароль: #{password},
        br
        br
        br
        |Приятных вам впечатлений!
        br
        |Команда Skipe