<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">skipe</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li <% if (window.location.hash == '#registration') { %> class="active" <% } %>>
                <a href="#registration"><%=app.nls.registration%></a>
            </li>
            <li <% if (window.location.hash == '#login') { %> class="active" <% } %>>
                <a href="#login"><%=app.nls.logIn%></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/i/<%=app.views.app.locale%>.png">
                </a>
                <ul id="nls" class="dropdown-menu">
                    <li><a href="#" id="ru"><img src="/i/ru.png"></a></li>
                    <li><a href="#" id="en"><img src="/i/en.png"></a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>