doctype 5
html(lang="en")
    head
        title Zowie! Top Scores
        meta(charset="utf-8")
        | <style type="text/css">
        include main.css
        | </style>
    body
        table
            caption Zowie! Top Scorers!
                tr
                    th Score
                    th Name
                    th Date
                    if scores.length
                        each score in scores
                            if score
                                tr
                                    td #{score.score}
                                    td #{score.first_name} #{score.last_name}
                                    td #{score.date}