{% block form_row %}
{% spaceless %}
    <div class="form_row">
        <hr>
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}
