html
    head
        title This is it
    body
        form(method="POST" action="/widgets"enctype="application/x-www-form-urlencoded")
            input(type="text" name="widgetname" id="widgetname" size="25")
            input(type="text"name="widgetprice" id="widgetprice" size="25")
            input(type="submit" name="submit" id="submit" value="Submit")
