doctype html
html(lang="en")
    head
        title Congratulations
    body
        h3 Congratulations
        |on creating your brand new Skipe address, #{email}.
        |Please keep this email.
        br
        br
        |You can login to your account with next credentials:
        br
        |Email: #{email},
        br
        |Password: #{password},
        br
        br
        br
        |Enjoy!
        br
        |The Skipe Team